name: Basket Pricer

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  quality:
    name: Code Quality (Linting and formatting)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check code formatting with Black
        run: |
          black --check src/ tests/
          continue-on-error: false
      - name: Check import sorting with isort
        run: |
          isort --check-only --profile black src/ tests/
          continue-on-error: false
  tests:
    name: Testing using pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: run tests
        run: pytest tests/
      - name: Test summary
        run: |
          echo "All tests completed for Python"
